.container{
    background-color: rgb(181, 225, 209);
}
.center{
    text-align: center;
    color: rgb(180, 109, 17);
}
.right{
    color: rgb(111, 14, 35);
    text-align: right;
}
.left{
    color: brown;
    text-align: left;
}
.massagesendbox{
    width: auto;
    text-align: center;
    background-color: rgb(149, 207, 14);
}